.blogs{
    color: #fff;
    background: url('../../../images/blogs-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
}
.blog{
    padding: 20px;
    border: 2px solid #4136c2;
    margin: 20px 0;
    box-shadow: 0 0 10px 0 #4136c2;
}
.blog:hover{
    box-shadow: 0 0 20px 2px #4136c2;
}
.blog h1{
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: .7px;
}
.blog p{
    font-size: 16px;
    letter-spacing: .5px;
    text-shadow: 0 0 2px #fff;
}
