.inventory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
    background: #000;
    color: #fff;
}
.items{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    border-radius: 3px;
}
.item{
    background: #353444;
    padding: 15px;
    border: 2px solid #4136c2;
}
.item img{
    width: 100%;
    border-radius: 3px;
}
.item h3{
    margin-top: 10px;
}
.item p{
    width: 100%;
    letter-spacing: .5px;
    color: #ddd;
}
.item button{
    padding: 7px 20px;
    background: #4335db;
    border-radius: 2px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.item button:hover{
    box-shadow: 0 0 15px 3px #4335db;
}