@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.App{
  background: #141420;
}




/* background color code: #141420 */
/* border color code: #4136c2 */
/* linear gradient color code: #5f4fe4, #c950e5 */
/* item background color code: #353444 */
/* button background color code: #353444 */