.home{
    background: url('../../../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    background: #3534448a;
}
.half-banner{
    color: #fff;
    margin: 50px 0;
}
.half-banner h1{
    font-size: 70px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.half-banner .check-out{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 8px 20px;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    transition: .24s ease;
    cursor: pointer;
    font-weight: 500;
}
.half-banner .check-out:hover{
    background: #fff;
    color: #000;
    border: 2px solid #fff;
    box-shadow: 0 0 10px 0 #fff;
}
.half-banner .check-out:active{
    box-shadow: inset 0 0 8px 0 #000;
}
.sliders{
    width: 400px;
    height: 300px;
    border: 4px solid #4136c2;
    box-shadow: 0 0 10px 10px #4136c2;
    border-radius: 3px;
}
.sliders img{
    width: 100%;
    height: 295px;
    border-radius: 4px;
}


/*----------------------------------- Media Quary For Responsive Website -----------------------------------*/
@media only screen and (max-width:688px) {
    .top-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

